@import 'tailwindcss';

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/
@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

/* Adds a subtle black shadow to the text for better contrast on dark backgrounds */
.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
